parameters:
  paths:
    - src
    - tests
  level: max
  tmpDir: reports/phpstan
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    -
      identifier: missingType.iterableValue
      path: tests/*
